@import url('./materialize/css/materialize.min.css');
@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One');

@font-face {
    font-family: "myfont";
    src: url('./fonts/raider_crusader/raidercrusaderpunch.ttf');
}
@font-face {
    font-family: "myfont2";
    src: url('./fonts/raider_crusader/raidercrusaderstraight.ttf');
}

.divSpacing {
    padding-bottom: 92px;
    padding-top: 50px;
}

h1, h2, h3 {
    font-family: "myfont2";
    margin-bottom: 0px;
    color: #1565c0;
}

.description {
    color: rgb(105, 105, 105);
    font-style: italic;
    font-size: 15px;
}

.paragraph {
    text-align: justify;
    text-indent: 50px;
}

.bold {
    font-weight: bold; 
}

.leftDiv {
    margin-left: 15px;
}

.topicDiv {
    border-bottom: solid 1px gray;
    margin-bottom: 15px;
}

.tanDiv {
    background-color: #f3efe1;
}

.greyDiv{
    background-color: #d5d5d5;
}

/* Navigation Bar CSS */
nav {
    background-color: #1565c0;
    font-family: "myfont2";
}

.navbar-fixed{
    background-color: #1565c0;
}

.brand-logo {
    font-size: 10px;
    margin-left: 12px;
}

.contactNav {
    margin-right: 8px;
}

/* Home Screen CSS */
#homeImage{
    width: 100%;
    height: 1000px;
    position: relative;
    z-index: 0;
    opacity: .6;
}

.nameDiv{
    z-index: 1;
    position: relative;
    top: -780px;
    color: aliceblue;
    font-family: "myfont";
    font-size: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.name {
    font-size: 100px;
    border-bottom: solid 2px;
    line-height: 1.4;
    margin-bottom: 20px;
    color: aliceblue;
    font-family: "myfont";
}

.interactive{
    margin-top: 0px;
}

.overlay {
    width: 100%;
    height: 1000px;
    background-color: #1565c0;
    z-index: 2;
}

/* Profile Section CSS */
.basicDiv {
    margin-left: 30px;
}

.basicText {
    margin-left: 30px;
}

.profilePic {
    height: 305px;
    width: 325px;
    margin-left: 65px;
    border: solid 10px #1565c0;
}

.aboutMe {
    margin-left: 60px;
}

/* Experiences Section CSS */
.certificateImg {
    width: 900px;
    height: 700px;
    margin-left: 100px;
}

.achievementTitles {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 0px;
}

.achievementLocation {
    margin-bottom: 40px;
}

#idTechLocation {
    margin-left: 425px;
}

.locationSpan {
    margin-top: -65px;
    text-align: center;
    margin-left: 16px;
    margin-bottom: 30px;
}

#youtubeVid {
    margin-left: 240px;
}

.experienceLocation {
    font-size: 14px;
    font-style: italic;
    margin-top: -31px;
    margin-left: 38px;
}
#idTechLocation1 {
    margin-left: 410px;
}

#harbordayLocation {
    margin-left: 455px;
}

/* Portfolio CSS */
.portfolioDiv {
    width: 650px;
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    background-color: #ecececa9;
}

.screenImg {
    width: 380px;
    height: 250px;
    position: relative;
    z-index: 2;
}

.portfolioPic {
    width: 533px;
    height: 395px;
    z-index: 1;
    position: absolute;
    left: 59px;
    top: 50px;
}

/* Contact Section CSS */
#contactSection {
    background-color: #1565c0;
}

.contactDiv {
    z-index: 1;
    position: relative;
    bottom: 60%;
}

#contactDescription {
    color: aliceblue;
}

.contact {
    color: aliceblue;
}

.contactLogos {
    width: 80px;
    height: 80px;
    margin: 15px;
}

#gmailLogo {
    width: 110px;
    height: 104px;
    padding-top: 4px;
    margin-bottom: 5px;
}


#contactLogoRow {
    margin-bottom: 0px;
    padding-bottom: 50px;
}

/* iPhone 6/7 Plus Responsiveness */
@media (max-width: 414px) {
    /* NavBar */
    nav {
        width: 414px;
    }

    .nav-wrapper {
        width: 414px;
    }
    
    .brand-logo {
        font-size: 10px;
        margin-left: 0px;
    }

    /* Home Section */
    #homeImage{
        height: 635px;
    }
    .overlay {
        height: 635px;
    }
    .nameDiv{
        top: -480px;
        font-size: 13px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    
    .name {
        font-size: 40px;
        margin-bottom: 20px;
    }

    /* Profile Section */
    #profileDiv {
        width: 360px;
        margin-left: -40px;
    }

    .basicDiv {
        margin-left: 20px;
        top: 1220px;
        position: absolute;
    }
    
    .basicText {
        margin-left: 10px;
        text-align: center;
    }
    
    .profilePic {
        height: 285px;
        width: 345px;
        margin-left: -110px;
        margin-bottom: 460px;
    }
    
    .aboutMe {
        margin-left: -130px;
        position: absolute;
        top: 1400px;
    }
    
    #aboutMePara {
        top: 1470px;
        margin-left: -200px;
        width: 310px;
    }

    /* Experiences Section */
    #experienceDiv {
        width: 360px;
        margin-left: -40px;
    }

    #experienceHeader {
        font-size: 65px;
        margin-left: -12px;
    }

    #experienceDescription {
        font-size: 14px;
    }

    .experienceH2 {
        margin-top: 0px;

    }

    #eduTitle {
        margin-left: 20px
    }

    #uciDiv {
        width: 300px;
        margin-bottom: 240px;
        margin-left: -10px;
    }

    #uciDiv2 {
        position: absolute;
        top: 2290px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #scDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 90px;
    }

    #scDiv2 {
        position: absolute;
        top: 2630px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #purdueDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 200px;
        margin-top: 20px;
    }

    #purdueDiv2 {
        position: absolute;
        top: 2920px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }
    
    #purdueTitle {
        margin-left: 25px;
    }
    
    #purdueText {
        font-size: 13px;
    }

    #minorsText {
        font-size: 13px;
    }

    #workHeader {
        margin-top: 0px;
        text-align: center;
        margin-left: -60px;
    }

    #lexonetDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 220px;
    }

    #lexonetDiv2 {
        position: absolute;
        top: 3380px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #superiorDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 220px;
    }

    #superiorDiv2 {
        position: absolute;
        top: 3765px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #fargoDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 215px;
        margin-top: 30px;
    }

    #fargoDiv2 {
        position: absolute;
        top: 4180px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }
    
    #jackDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 170px;
        margin-top: 75px;
    }

    #jackDiv2 {
        position: absolute;
        top: 4600px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #allDiv {
        width: 300px;
        margin-left: 45px;
        margin-bottom: 240px;
        margin-top: 55px;
    }

    #allDiv2 {
        position: absolute;
        top: 4965px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #digestiveDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 230px;
        margin-top: 35px;
    }

    #digestiveDiv2 {
        position: absolute;
        top: 5400px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    /* Skills Section CSS */
    .card {
        width: 105px;
        height: 130px;
        margin: 10px;
        margin-bottom: 30px;
    }
    
    .card-image {
        height: 105px;
        width: 105px;
    }
    
    #cssPic {
        height: 170px;
        width: 315px;
        left: -105px;
    }
    
    #expressPic {
        width: 90px;
    }
    
    #handlebarsText {
        margin-left: -16px;
    }
    
    .cardNameDiv {
        font-size: 12px;
     }
    
    /* Portfolio CSS */
    .portfolioDiv {
        width: 370px;
        height: 210px;
        margin: 5px;
        margin-left: 10px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .screenImg {
        width: 285px;
        height: 165px;
        position: relative;
        z-index: 2;
    }

    .portfolioPic {
        width: 250px;
        height: 120px;
        left: 59px;
        top: 29px;
    }

    #project1 {
        margin-bottom: 1200px;
        margin-left: -19px;
    }

    #project2 {
        top: 8220px;
        position: absolute;
    }

    #project3 {
        top: 8470px;
        position: absolute;
    }

    #project4 {
        top: 8710px;
        position: absolute;
    }

    #project5 {
        top: 8960px;
        position: absolute;
    }

    #project6 {
        top: 9210px;
        position: absolute;
    }

    /* Contact Section CSS */
    #contactSection {
        background-color: #1565c0;
    }
    
    .contactDiv {
        z-index: 1;
        position: relative;
        bottom: 60%;
    }
    
    #contactDescription {
        color: aliceblue;
    }
    
    .contact {
        color: aliceblue;
    }
    
    .contactLogos {
        width: 80px;
        height: 80px;
        margin: 15px;
    }

    #contactDiv {
        margin-left: -5px;
    }
    
    #gmailLogo {
        width: 110px;
        height: 104px;
        padding-top: 4px;
        margin-bottom: 5px;
    }
    
    #githubLogo {
        width: 88px;
        height: 88px;
        padding-bottom: -10px;
        padding-top: 3px; 
        margin-left: 28px;
    }
    
    #stackoverflowLogo {
        width: 85px;
        height: 85px;
        padding-top: -30px;
        margin-left: 20px;
    }

    #contactLogoRow {
        margin-bottom: 0px;
        padding-bottom: 50px;
    }
}

/* iPhone X Responsiveness */
@media (max-width: 375px) {
    /* NavBar */
    nav {
        width: 375px;
    }

    .nav-wrapper {
        width: 375px;
    }
    
    .brand-logo {
        font-size: 12px;
        margin-left: 5px;
    }

    /* Profile Section */
    #profileDiv {
        width: 330px;
        margin-left: 20px;
    }
    /* YOU ARE HERRRRRRRRRRRRREEEEEEEEEEEEEEE */
    .basicDiv {
        margin-left: 10px;
        top: 1220px;
        position: absolute;
    }

    .basicText {
        margin-left: 10px;
        text-align: center;
    }
    
    .profilePic {
        height: 285px;
        width: 345px;
        margin-left: -110px;
        margin-bottom: 460px;
    }
    
    .aboutMe {
        margin-left: -130px;
        position: absolute;
        top: 1400px;
    }
    
    #aboutMePara {
        top: 1470px;
        margin-left: -200px;
        width: 310px;
    }

    /* Experiences Section */
    #experienceDiv {
        width: 360px;
        margin-left: -40px;
    }

    #experienceHeader {
        font-size: 65px;
        margin-left: -12px;
    }

    #experienceDescription {
        font-size: 14px;
    }

    .experienceH2 {
        margin-top: 0px;

    }

    #eduTitle {
        margin-left: 20px
    }

    #uciDiv {
        width: 300px;
        margin-bottom: 240px;
        margin-left: -10px;
    }

    #uciDiv2 {
        position: absolute;
        top: 2290px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #scDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 90px;
    }

    #scDiv2 {
        position: absolute;
        top: 2630px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #purdueDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 200px;
        margin-top: 20px;
    }

    #purdueDiv2 {
        position: absolute;
        top: 2920px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }
    
    #purdueTitle {
        margin-left: 25px;
    }
    
    #purdueText {
        font-size: 13px;
    }

    #minorsText {
        font-size: 13px;
    }

    #workHeader {
        margin-top: 0px;
        text-align: center;
        margin-left: -60px;
    }

    #lexonetDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 220px;
    }

    #lexonetDiv2 {
        position: absolute;
        top: 3380px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #superiorDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 220px;
    }

    #superiorDiv2 {
        position: absolute;
        top: 3765px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #fargoDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 215px;
        margin-top: 30px;
    }

    #fargoDiv2 {
        position: absolute;
        top: 4180px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }
    
    #jackDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 170px;
        margin-top: 75px;
    }

    #jackDiv2 {
        position: absolute;
        top: 4600px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #allDiv {
        width: 300px;
        margin-left: 45px;
        margin-bottom: 240px;
        margin-top: 55px;
    }

    #allDiv2 {
        position: absolute;
        top: 4965px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }

    #digestiveDiv {
        width: 300px;
        margin-left: 20px;
        margin-bottom: 230px;
        margin-top: 35px;
    }

    #digestiveDiv2 {
        position: absolute;
        top: 5400px;
        width: 350px;
        margin-left: 40px;
        text-align: center;
    }
    
    /* Portfolio CSS */
    .portfolioDiv {
        width: 370px;
        height: 210px;
        margin: 5px;
        margin-left: 10px;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .screenImg {
        width: 285px;
        height: 165px;
        position: relative;
        z-index: 2;
    }

    .portfolioPic {
        width: 250px;
        height: 120px;
        left: 59px;
        top: 29px;
    }

    #project1 {
        margin-bottom: 1200px;
        margin-left: -19px;
    }

    #project2 {
        top: 8220px;
        position: absolute;
    }

    #project3 {
        top: 8470px;
        position: absolute;
    }

    #project4 {
        top: 8710px;
        position: absolute;
    }

    #project5 {
        top: 8960px;
        position: absolute;
    }

    #project6 {
        top: 9210px;
        position: absolute;
    }

    /* Contact Section CSS */
    #contactSection {
        background-color: #1565c0;
    }
    
    .contactDiv {
        z-index: 1;
        position: relative;
        bottom: 60%;
    }
    
    #contactDescription {
        color: aliceblue;
    }
    
    .contact {
        color: aliceblue;
    }
    
    .contactLogos {
        width: 80px;
        height: 80px;
        margin: 15px;
    }

    #contactDiv {
        margin-left: -5px;
    }
    
    #gmailLogo {
        width: 110px;
        height: 104px;
        padding-top: 4px;
        margin-bottom: 5px;
    }

    #contactLogoRow {
        margin-bottom: 0px;
        padding-bottom: 50px;
    }
}